body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#password {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#error-message {
    color: red;
    margin-top: 10px;
}

#content-container {
    padding: 20px;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
}

#hospital-info, #doctors-info {
    margin-top: 20px;
}

.doctor-card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.doctor-card img {
    border-radius: 50%;
    margin-right: 10px;
}

.doctor-card h3 {
    margin: 0;
}
